/* semantic color variables for this project */
:root {
  --color-primary: #001743;
  --color-secondary: #1976d2;
  --color-tertiary: #ff9800;

  --color-surface: #f9fafb;
  --color-background: #f5f7fa;
  --color-border: #e1e5ec;

  --color-text-dark: #3b4252;
  --color-text-muted: #666c7b;
  --color-text-disabled: #a0aec0;

  --spacing: 1.5rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #88a2ff;
    --color-secondary: #60a5fa;
    --color-tertiary: #fbbf24;

    --color-surface: #1e293b;
    --color-background: #0f172a;
    --color-border: #334155;

    --color-text-dark: #e2e8f0;
    --color-text-muted: #94a3b8;
    --color-text-disabled: #64748b;
  }
} */

body {
  min-height: 100vh;
  color: var(--color-text-dark);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
