/* semantic color variables for this project */
:root {
  --color-primary: #001743;
  --color-secondary: #1976d2;
  --color-tertiary: #ff9800;

  --color-surface: #f9fafb;
  --color-background: #f5f7fa;
  --color-border: #e1e5ec;

  --color-text-dark: #3b4252;
  --color-text-muted: #666c7b;
  --color-text-disabled: #a0aec0;

  --spacing: 1.5rem;
  --rounded: 0.75rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #88a2ff;
    --color-secondary: #60a5fa;
    --color-tertiary: #fbbf24;

    --color-surface: #1e293b;
    --color-background: #0f172a;
    --color-border: #334155;

    --color-text-dark: #e2e8f0;
    --color-text-muted: #94a3b8;
    --color-text-disabled: #64748b;
  }
} */

body {
  min-height: 100vh;
  color: var(--color-text-dark);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding-inline: var(--spacing);
}

.container--fluid {
  max-width: 120rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  min-height: 3rem;
  padding-inline: var(--spacing);
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: var(--rounded);
  cursor: pointer;
  transition: background-color ease-in 0.25s;
}

.btn:hover,
.btn:focus {
  background-color: var(--color-border);
}

.btn--primary {
  background-color: var(--color-secondary);
  border-color: transparent;
  color: var(--color-surface);
}

.btn--primary:hover,
.btn--primary:focus {
  background-color: var(--color-primary);
}

.btn--secondary {
  background-color: var(--color-tertiary);
  border-color: transparent;
  color: var(--color-surface);
}

.btn--secondary:hover,
.btn--secondary:focus {
  background-color: var(--color-primary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
