
@import './modern-normalize.css';
@import './base.css';

.brand {
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-secondary);
  transition: color ease-in 0.25s;
}

.brand:hover,
.brand:focus {
  color: var(--color-tertiary);
}

.book-card {
  --book-card-spacing: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;
  height: 100%;
  padding: var(--book-card-spacing);
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: var(--rounded);
  transition: box-shadow 0.25s ease-in;
}

.book-card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.book-card__header {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;
}

.book-card__header h2,
.book-card__header h3 {
  color: var(--color-text-dark);
  margin: 0 0 0.25rem 0;
  line-height: 1.2;
}

.book-card__header h2 {
  font-size: 1.5rem;
}

.book-card__header h3 {
  margin-block-start: auto;
}

.book-card__header h3,
.book-card__header small {
  font-size: 0.75rem;
}

.book-card__meta {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.book-card__description {
  font-size: 0.875rem;
}

.book-card__description p {
  margin: 0;
}

.book-card__footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5rem;
  margin-block-start: auto;
}

.book-card--selected .book-card__header {
  flex-direction: column;
  align-items: center;
}

.book-card--selected .book-card__header h2 {
  font-size: 0.875rem;
}

.book-card--selected .book-card__meta {
  width: 100%;
  text-align: center;
}

.reading-progress {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.5rem;
  width: 100%;
}

.reading-progress label {
  font-size: 0.875rem;
  color: var(--color-surface);
}

@media (min-width: 48rem) {
  .book-list {
    --book-list-columns: repeat(2, 1fr);
  }
}

@media (min-width: 64rem) {}

@media (min-width: 80rem) {
  .book-list {
    --book-list-columns: repeat(4, 1fr);
  }
}

@media (min-width: 96rem) {}
