
@import './modern-normalize.css';
@import './base.css';

.app {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100vh;
}

.app--with-sidebar {
  grid-template-columns: min(var(--panel-width), 30vw) 1fr;
}

.app__wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.app__header,
.app__footer {
  padding-block: 0.5rem;
  height: var(--header-height);
}

.app__header {
  border-bottom: 1px solid var(--color-border);
}

.app__header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--color-border);
}

.app__main {
  height: calc(100vh - 140px);
  overflow-y: auto;
}

.app__main > div,
.app__content {
  height: 100%;
}

.app__sidebar {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--color-primary);
  height: 100vh;
}

.app__sidebar h3 {
  color: var(--color-surface);
}

.app__sidebar-footer h3 {
  font-size: 1rem;
}

.app__filter {
  position: fixed;
  display: grid;
  grid-template-rows: auto 1fr auto;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  max-width: var(--panel-width);
  background: var(--color-background);
  border-left: 1px solid var(--color-border);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  z-index: 9999;
}

.app__sidebar-body,
.app__filter-body {
  overflow-x: hidden;
  overflow-y: auto;
}

.app__sidebar-header,
.app__sidebar-footer,
.app__filter-header,
.app__filter-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  padding-block: 0.5rem;
  padding-inline: var(--spacing);
}

.app__filter-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--spacing);
}

.app__filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.app__filter li {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.app__filter fieldset {
  margin-block: 0;
  margin-inline: var(--spacing);
  padding: 0 0 1rem 0;
  border: 0;
  border-bottom: 1px solid var(--color-border);
}

.app__filter h4 {
  margin-block-end: 0.5rem;
}

.app__filter input {
  padding-right: 0.5rem;
}

.brand {
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-secondary);
  transition: color ease-in 0.25s;
}

.brand:hover,
.brand:focus {
  color: var(--color-tertiary);
}

.app__footer .brand {
  font-size: 0.75rem;
  color: var(--color-text-dark);
}

.app__footer .brand:hover,
.app__footer .brand:focus {
  color: var(--color-text-dark);
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-block-start: var(--spacing);
  padding-block-end: calc(var(--spacing) / 2);
}

.toolbar__search-form {
  position: relative;
  width: 100%;
  max-width: 23.125rem;
}

.toolbar__search-form input {
  width: 100%;
  min-height: 3rem;
  padding: 0.5rem;
  padding-inline-end: 60px;
  border: 1px solid var(--color-border);
  border-radius: var(--rounded);
  font-size: 0.875rem;
}

.toolbar__search-form .btn {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background-color: transparent;
}

.book-list {
   --book-list-columns: 1fr;
   --book-list-item-spacing: 1rem;
  
  display: grid;
  grid-template-columns: var(--book-list-columns);
  gap: var(--spacing);
  margin: 0;
  padding: 0;
  padding-block-start: calc(var(--spacing) / 2);
  padding-block-end: var(--spacing);
  list-style: none;
}

/* .book-list__item {
  padding: var(--book-list-item-spacing);
} */

.reading-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  margin: 0;
  padding: var(--spacing);
  list-style: none;
}

.book-card {
  --book-card-spacing: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;
  height: 100%;
  padding: var(--book-card-spacing);
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: var(--rounded);
  transition: box-shadow 0.25s ease-in;
}

.book-card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.book-card__header {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;
}

.book-card__header h2,
.book-card__header h3 {
  color: var(--color-text-dark);
  margin: 0 0 0.25rem 0;
  line-height: 1.2;
}

.book-card__header h2 {
  font-size: 1.5rem;
}

.book-card__header h3 {
  margin-block-start: auto;
}

.book-card__header h3,
.book-card__header small {
  font-size: 0.75rem;
}

.book-card__meta {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.book-card__description {
  font-size: 0.875rem;
}

.book-card__description p {
  margin: 0;
}

.book-card__footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5rem;
  margin-block-start: auto;
}

.book-card--selected .book-card__header {
  flex-direction: column;
  align-items: center;
}

.book-card--selected .book-card__header h2 {
  font-size: 0.875rem;
}

.book-card--selected .book-card__meta {
  width: 100%;
  text-align: center;
}

.reading-progress {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.5rem;
  width: 100%;
}

.reading-progress label {
  font-size: 0.875rem;
  color: var(--color-surface);
}

@media (min-width: 48rem) {
  .book-list {
    --book-list-columns: repeat(2, 1fr);
  }
}

@media (min-width: 64rem) {}

@media (min-width: 80rem) {
  .book-list {
    --book-list-columns: repeat(4, 1fr);
  }
}

@media (min-width: 96rem) {}
